@model E_CounsellingWebApplication.ViewModels.StatisticsViewModel;

<h1>This page shows the statistics of the website</h1>
<br />

<div>Number of users : @Model.UsersCount</div><br />
<div>Number of male users : @Model.malecount</div><br />
<div>Number of female users : @Model.femalecount</div><br />
<div>Number of Counselors : @Model.counselorscount</div><br />

<div>Number of patients : @Model.patientscount</div><br />
<div>Number of all appointments booked on this website : @Model.appointedcount</div><br />

                                                                                   
 